{
    "semi": false,
    "arrowParens": "avoid",
    "singleQuote": true,
    "tabWidth": 2,
    "printWidth": 100,
    "trailingComma": "es5",
    "useTabs": false,
    "endOfLine": "auto",
    "jsxSingleQuote": false,
    "importOrder": ["react(.*)$", "<THIRD_PARTY_MODULES>", "@myn/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderBuiltinModulesToTop": true
}
